body {background: #e2e2e2; color: #323232; text-align:center; font:13px/18px inherit,Arial,Helvetica,sans-serif;font-weight: inherit; margin: 0px auto 0px; padding: 0px;}
#wrap {background: #FFFFFF; width: 960px; text-align:left; margin: 20px auto; padding: 0px;border:1px solid #d5d5d5;-webkit-box-shadow:#CCCCCC 0px 0px 7px;-moz-box-shadow:#CCCCCC 0px 0px 7px;box-shadow:#CCCCCC 0px 0px 7px;-moz-border-radius: 11px;-khtml-border-radius: 11px;-webkit-border-radius: 11px;border-radius: 11px;}
img{ border:none;}

a:link, a:active, a:visited {color:#1982d1; text-decoration:none;}
a:hover {color:#1982d1; text-decoration:none;}

#header h1 {color: #1F1F1F; font-size: 50px; font-style: inherit;
	font-weight: inherit; letter-spacing: 0px; margin: 20px 0px 3px 40px; padding: 40px 0px 0px 0px; font-family: inherit, "Times New Roman", Times, serif; line-height:normal;}
#header h1 a:link {color: #1F1F1F; text-decoration: none;}
#header h1 a:active {color: #1F1F1F; text-decoration: none;}
#header h1 a:visited {color: #1F1F1F; text-decoration: none;}
#header h1 a:hover {color: #1F1F1F; text-decoration: none;}
#header h3 {color: #525252; font-style: inherit; font-size: 14px; font-weight: normal; margin: 0px 0px 0px 40px; padding: 0px 0px 40px 5px;}

#nav {text-align: center; margin: 154px 0px 20px 0px;background:#252525;height:43px;}
#nav ul {margin: 15px 0px 0px 0px; padding-top:13px;}
*+html #nav ul{margin: 0px 0px 0px 0px;}
#nav li {display: inline; font-weight:bold; padding:0 10px 0 10px;}
#nav a:link {color:#fff; text-decoration:none;padding:13px 20px;}
#nav a:active {background:#fff;color:#000; text-decoration:none;}
#nav a:visited {color:#fff;}
#nav a:hover {background:#fff;color:#000; }
#nav .current a:link {background:#fff;color:#000; }
#nav .current a:active {background:#fff;color:#000; }
#nav .current a:visited {background:#fff;color:#000; }
#nav .current a:hover {background:#fff;color:#000; text-decoration:none;}

#banner {height:134px;}

#pagenavi{float:right;text-align:center; font-size:14px}
#pagenavi a{ padding:0px 3px;}
#pagenavi a:hover{text-decoration:overline }
#pagenavi span{font-size:16px; color:#999999;}

#content {width: 960px; margin: 0px auto 0px; padding: 0px;background:#fff;}
#content p {padding: 0px 0px 15px 0px; margin: 0px; line-height: 20px;}
#content h1 {color:#222;display:none;}
#content h2 {color: #1F1F1F; font-size: 30px; font-weight:bold; padding: 20px 0px 10px 0px; margin: 25px 0px 10px 0px;border-top:1px solid #ccc;}
#content h2 a:link {color:#222; text-decoration:none;}
#content h2 a:active {color:#1F1F1F; text-decoration:none;}
#content h2 a:visited {color:#1F1F1F; text-decoration:none;}
#content h2 a:hover {color:#1982d1; text-decoration:none;}
#content h2.widgettitle {color: #444444; font-size: 12px; font-weight: bold; margin: 25px 0px 0px 0px; padding: 10px 0px 10px 0px;}
#content h3 {color: #444444; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; padding: 8px 0px 8px 0px;}
#contentleft {float: left; width: 600px; margin: 0px 0px 0px 0px; padding: 0px 20px 20px 50px;}
blockquote {margin: 0px 20px 20px 20px; padding: 25px 20px 25px 20px; background: #EFEFEF; border-left: 5px solid #696969; border-right: 5px solid #696969;}
#contentleft .date {color:#000; font-size:12px;padding:0 0 30px 0px;}
#contentleft .att {color:#A97965; font-size:12px; margin:5px 0px 0px 0px;}
#contentleft .tag {color:#A97965; font-size:12px; margin:10px 0px 0px 0px;}
#count {background:#f9f9f9;width:43px;height:36px;float:right;margin-top:-40px;}
#count a:hover{color:#1982d1;background:#1982d1;}
#count .comments{margin-top:-30px;margin-left:20px;}
#contentleft img{max-width:690px;}
#log {width:900px;margin:0 50px;}
#log p {padding: 0px 0px 15px 0px; margin: 0px; line-height: 20px;}
#log h2 {color: #1F1F1F; font-size: 30px; font-weight:bold; padding: 20px 0px 10px 0px; margin: 25px 0px 10px 0px;text-align:center;}
#logleft .tag {color:#A97965; font-size:12px; margin:0px 0px 0px 0px;}
#logleft .date {margin-top:20px;color:#000; font-size:14px;}



img.alignright {float:right; border:none; margin:0px 0px 10px 10px;}
img.alignleft {float:left; border:none; margin:0px 10px 10px 0px;}
img.aligncenter {display: block; border:none; margin:10px auto 10px auto;}
a img.alignright {float:right; border:none; margin:0px 0px 10px 10px;}
a img.alignleft {float:left; border:none; margin:0px 10px 10px 0px;}
a img.aligncenter {display: block; border:none; margin:10px auto 10px auto;}

#sidebar {color:#1982d1;float: right; width: 200px; margin: 0px 0px 0px 0px; padding: 0px 19px 20px 19px;  font:12px/18px Verdana, Arial, Helvetica, sans-serif;overflow:hidden}
#sidebar a:hover{color:#ccc;text-decoration:underline;}
#sidebar ul {list-style-type: none; margin: 0px; padding: 0px;}
#sidebar ul li {background:transparent url("images/sidebar.png") 0px 3px no-repeat; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 18px;}
#sidebar ul li ul li {background:transparent url("images/sidebar.png") 0px 3px no-repeat; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 18px;}
#sidebar li {list-style-type:none;}
#sidebar .search {background: url("images/search.png") no-repeat scroll 5px 3px transparent;border: 1px solid #CCCCCC;border-radius: 3px 3px 3px 3px;font-size: 12px;line-height: 1.2em;padding: 4px 10px 4px 28px;}

#footerbar {margin: 0 auto; padding: 20px 0px 20px 0; width: 1000px; font-size:20px;text-align: center; overflow: hidden; border-top: 1px solid #E2DDDE;background:#f9f9f9;border:1px solid #d5d5d5;-webkit-box-shadow:#CCCCCC 0px 0px 7px;-moz-box-shadow:#CCCCCC 0px 0px 7px;box-shadow:#CCCCCC 0px 0px 7px;-moz-border-radius: 11px;-khtml-border-radius: 11px;-webkit-border-radius: 11px;border-radius: 11px;}
#footerbar p{font-size:12px;}
.footerbox {float:left; width: 31%; float: left; margin: 5px 0px 0px 0px; padding: 0px 10px 20px 10px;}
.footerbox ul {list-style-type: none; margin: 0px; padding: 0px;}
.footerbox ul li {background:transparent url("images/sidebar.png") 0px 3px no-repeat; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 18px;}

#logleft .nextlog{float:right;text-align:center; margin-top:-20px; font-size:14px}
#logleft .time{ font-size:14px}
#trackback_address{font-size:12px; color:#999}
#trackback_address input{border:#f1f1f1 solid 1px; background-color:#fffdf1; padding:2px 8px; color:#999; font-size:11px}
#trackback{font-size:12px; color:#333; line-height:16px; overflow:hidden; margin:5px 0; padding:0px 0px 3px 0px; border-bottom:1px #f5f5f5 solid}
#logleft #trackback li{margin:5px 0px; padding:0px; clear:both}
#logleft .comment-header{margin:15px 0px 5px 0px}
#logleft .comment-post {width:960px;margin-left:10px;clear:both}
#logleft .comment-post p{margin:5px 0px}
#logleft .comment-post .cancel-reply{float:right;font-size:12px;cursor:pointer; _cursor:hand;padding-right:10%}
#logleft .comment-post .cancel-reply:hover{text-decoration:underline}
#logleft .comment-post small{font-size:12px; color:#999}
#logleft .comment-post input{background:#f9f9f9;padding:5px 5px; border:1px #b6b6b6 solid; font-size:12px; color:#333; width:40%;border: 4px solid #eee;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);}
#logleft .comment-post #comment{width:90%; border:1px #b6b6b6 solid; font-size:12px; color:#333;background: #f9f9f9;
border: 4px solid #eee;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);}
#logleft .comment-post  #comment_submit{float:right;margin:-20px 80px 0px 0;background:#222; border:0; color:#fff; width:111px; height:29px; text-align:center; cursor:pointer; _cursor:hand;}
#logleft .comment-post .input{width:100px}
#logleft .comment{margin:10px 0; padding:10px 0px; font-size:12px; border-bottom:1px #f7f7f7  solid; overflow:hidden; color:#333; height:100%; zoom:1;}
#logleft.comment span{color:#ff7a15;}
#logleft .comment .comment-time{color:#999999; display:inline; font-size:12px;}
#logleft.comment .avatar{float:left;margin:5px}
#logleft .comment .comment-info{float:left;width:95%;background:#f9f9f9;}
#logleft .comment .poster{float:left;margin:-30px 0 0 50px;}
#logleft .comment .comment-content{margin:8px 0px 0px 20px;}
#logleft .comment .comment-reply{float:right;font-size:12px;cursor:pointer; _cursor:hand;}
#logleft .comment .comment-reply:hover{text-decoration:underline}
#logleft .comment-children{width:95%;margin:auto;clear:both;border:none;padding:0;}
#logleft .comment .comment-post{width:90%;margin:15px auto}

.calendartop{text-align:center; font-size:12px; margin-left:30px;}
.calendar{margin-bottom:10px;}
.calendar td{font-size:12px; text-align:center; padding:1px 5px; line-height:1.6;}
.calendar td a:link{color:#886353; text-decoration:none;}
.calendar td a:hover{color:#886353; text-decoration:none;}
.day{background:url(images/bg_cal_today.gif)  no-repeat 2px 1px;}
.day2{font-weight:bold}
.sun{color:#333; font-weight:bold}
.week{color:#333}

.rss{ margin:20px 0px;}

.attachment{
    margin: 0px 3px;
    padding: 0px 0px 0px 20px;
    font-weight: bold;
    background:url(images/att.png)  no-repeat 2px -1px;
}

#twitter li {border-bottom: dotted #CCCCCC 0px;list-style:none;}
#twitter li p {font-size: 12px;padding-left: 68px; text-align:right; padding:5px 0px 2px;}
#twitter p {font-size: 12px;text-align:right;}
#twitter li small {font-size: 12px;padding: 0px 10px;}
#twitter li .t_img{background:url(images/img.gif) no-repeat;padding: 0 7px;margin: 0 0 0 10px;}

#tw .main_img{ border:1px #2772ae solid; float:left;}
#tw .main_img img{ border:1px #fff solid}
#tw .op{ float:left; height:18px;margin:6px 5px 3px;}
#tw .top{ font-size:12px; text-align:right; border-bottom:1px #F7F7F7 solid; line-height:2;width:560px;}
#tw .top a{ padding:0px 5px 0px 17px; background: url(images/t.gif) no-repeat}
#tw ul{ margin:5px 0px 3px 25px; width:520px; line-height:1.8;padding:0px;}
#tw ul .li{ margin:10px 0px;padding:5px 0px;}
#tw ul li{margin:0px 0px; padding:0;}
#tw ul li .main_img{ margin-top:5px;}
#tw ul li .post1{ float:left;font-size:13px; padding:0px; width:800px; padding:0px 0px 0px 8px;}
#tw ul li .author{color:#886353; font-weight:bold;padding:12px 0 0 0px;}
#tw ul li .author span{color:#1982d1;float:right;font-size:12px;}
#tw ul li{ clear:both; padding:0px; margin:0px;}
#tw ul li .bttome {margin:3px 0;vertical-align:middle}
#tw ul li .bttome .post{ float: right;font-size:12px;line-height:14px;margin:0;}
#tw .time{ font-size:12px; color:#999999; padding-left:43px;padding-top:40px;}
#tw ul .r{ margin:5px 0px 0px 40px;color:#666666; border:0; padding:0px;}
#tw ul .r li{padding:5px 3px 3px;border-bottom: #F7F7F7 1px solid; width:475px}
#tw ul .r .num{ font-size:16px; font-weight:bold; color:#0079b7;padding:0px 5px; float:left; width:20px;}
#tw ul .r .time{ padding:0px 5px;}
#tw ul .r .name{ padding:0px 0px 0px 0px; font-size:12px; color:#336699;}
#tw ul .r em a{ font-style:normal;}
#tw ul .huifu{margin:5px 0px 0px 43px; background:#F5F5F5;border:#CCCCCC solid 1px;text-align:center;display:none;}
#tw ul .huifu textarea{ margin:5px; width:800px; border:#CCCCCC solid 1px;overflow:auto;}
#tw ul .huifu input{ margin:0px 5px;}
#tw ul .huifu div{ text-align:left; padding:0px 5px; text-align:center}
#tw ul .huifu .text{ width:60px;}
#tw ul .button_p{background:url(images/weibe_button.gif) no-repeat; border:0;cursor:pointer; _cursor:hand; width:63px; height:25px;float:right;}
#tw .tbutton{ font-size:12px;float:none; margin-bottom:3px;}
#tw .tbutton input{ width:90px; border:#CCCCCC solid 1px; }
#tw .tbutton .button_p{ background:url(images/weibe_button.gif) no-repeat; border:0;cursor:pointer; _cursor:hand; width:60px; height:25px;}
#tw .tbutton .tinfo{ float:left; }
#tw .msg{ clear:both}
#tw li{list-style:none;}
#tw ul .huifu textarea{background-color:#FFFFFF;}
#tw ul .huifu input{background-color:#FFFFFF;}
#tw ul li ul{ line-height:0;font-size:12px;}
#tw ul li ul li{ font-size:12px; line-height:22px;}
#tw .top{width:800px;}
#tw ul li .post1{ width:800px;}
#tw ul{ width:800px;}
#tw ul .r li{width:auto;}
#tw ul .huifu textarea{width:740px;}
#tw ul li .bttome .post{ font-size:12px;line-height:14px;margin-right:50px; text-align:right; float:right;clear:both; width:610px; background:0; border:0;}
#tw ul li .bttome .time{ float:none; margin-top:-25px;}
#tw p .t_img{background:url(images/img.gif) no-repeat;padding: 0 7px;margin: 0 0 0 10px;}


/** ËÑË÷¿ò **/
/**.search{font-size:20px;position:absolute;top:100px;right:250px;text-align:left;background:transparent;border:0px solid #d5d5d5;-webkit-box-shadow:#CCCCCC 0px 0px 7px;-moz-box-shadow:#CCCCCC 0px 0px 7px;box-shadow:#CCCCCC 0px 0px 7px;-moz-border-radius: 11px;-khtml-border-radius: 11px;-webkit-border-radius: 11px;border-radius: 11px;}
.search{float:right;width:100px;height:30px;-webkit-transition-duration:400ms;-webkit-transition-property:width,background;-webkit-transition-timing-function:ease;-moz-transition-duration:400ms;-moz-transition-property:width,background;-moz-transition-timing-function:ease;-o-transition-duration:400ms;-o-transition-property:width,background;-o-transition-timing-function:ease}
.search:focus{background-color:#f9f9f9;width:150px;}**/